/Files/
/Files_Ramus/
/Normalized_Data/
/Normalized_Data_Ramus/
/Normalized_Data2/
/Scores/
/Scores_Ramus/
/Scores_1d/
/logdir/
/logdir_old/
/activations/
/embeddings/
/training.ipynb
/evals/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv

*.synctex.gz
*.md5
*.pyc

*.auxlock
*.dpth

*.sublime-workspace

*.joblib
